<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LaunchList (iOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LaunchListUnitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LaunchListWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UnitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2732B3D25A2CE7600A11CE6</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>A2DA720E2595AF8F009405E6</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>A2DA72162595AF8F009405E6</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>A2DA721E2595AF8F009405E6</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>A2DA72292595AF8F009405E6</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>A2DA72502595AFC4009405E6</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
